{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <!-- create a post button -->
    <div class="row justify-content-center mt-3" style="padding-bottom: 30px;">
        <div class="col-md-5 col-sm-12 position-relative">
            <h5> Say something  </h5>
            <div class="form-group d-grid gap-2">
                <button class="btn mt-3" style="background-color: #fda742"> 
                    <a href="{% url 'post-create' %}" class="stretched-link" style="color:#fcfcfc;"><h6>Create a post</h6></a>
                </button>
            </div>
        </div>
    </div>
   
    <!-- divider -->
    <div class="row justify-content-center">
        <hr style="1px rounded #333; width: 80%">
    </div>

    <!-- Feed -->
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <h6> Your friends posts </h6>
        </div>
    </div>

    <!-- posts -->
    {% for post in post_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">

            <!-- single card -->
            <div class="card mb-3" style="max-width: 540px; border-color: #fda742; border-radius: 10px">
                <div class="row g-0">
                    <!-- post picture(s) -->
                    <div class="col-md-4">
                        {% if post.image %}
                            <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="post images">
                        {% endif %}
                    </div>
                    <!-- post text -->
                    <div class="col-md-8">
                        <div class="card-title" >
                            <!-- author icon -->
                            <img class="rounded-circle" style="float: left; margin-right: 1rem" height="30" width="30" src="{{ post.author.profile.picture.url }}"/>
                            <!-- post author --> 
                            <h5> @{{ post.author }} </h5>
                        </div>
                        <div class="card-body">
                            <!-- post body/text-->
                            <p class="card-text">
                                <p> {{ post.body }} </p>
                            </p>
                            <!-- to see post detail -->
                            <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>

                <!-- post footer/created on and likes/dislikes -->
                <div class="card-footer" style="border-color: #fda742;">
                    <div class="row">
                        <div class="d-flex flex-row">
                            <!-- created on -->
                            <small class="fst-italic" style="font-size: 12px">
                                {{ post.created_on }}    
                            </small>
                            <!-- likes and dislikes -->
                            <form method="POST" action="{% url 'like' post.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}"></input>
                                <button style="background-color: transparent; border: none; box-shadow: none;" type="submit"> 
                                    <i class="fa-regular fa-heart"> <span style="font-size: 13px"> {{ post.likes.all.count }} </span> </i>
                                </button>
                            </form>
                            <form method="POST" action="{% url 'dislike' post.pk %}">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.path }}"></input>
                                <button style="background-color: transparent; border: none; box-shadow: none;" type="submit"> 
                                    <i class="far fa-thumbs-down"> <span style="font-size: 13px"> {{ post.dislikes.all.count }} </span> </i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>  
            </div>

                

        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}
