{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <!-- back to feed button -->
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light">Back to feed</a>
        </div>
    </div>

    
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- body -->
                <div class="form-group">
                    <label for="id_body">Write something </label>
                    <input type="text" class="form-control" id="id_body" name="body" value="{{ form.body.value }}">
                    {% if form.body.errors %}
                    {% for error in form.body.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <!-- image -->
                <div class="form-group mb-3">
                    <label for="post_image" class="form-label">Upload image :</label>
                    <input type="file" class="form-control" id="id_image" name="image">
                    {% if form.image.errors %}
                    {% for error in form.image.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
                <!-- submit button -->
                <div class="d-grid gap-2">
                    <button class="btn mt-3" style="background-color: #fda742; color: #fcfcfc"> Submit </button>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock content %}