{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <!-- back to feed button -->
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light"> Back to feed </a>
        </div>
    </div>

    <!-- user info -->
    <div class="row justify-content-center mt-5 mb-4">

        <div class="col-md-3 col-sm-3">
            <!-- icon -->
            <img src="{{ profile.picture.url }}" style="border-radius: 100px; margin-top: 10px" width="200" height="200" />
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="row">
                <!-- name -->
                <div class="col">
                    {% if profile.name %}
                    <h2 class="py-1"> {{ profile.name }} </h2>
                    {% endif %}
                </div>

                <!-- edit profile or follow button -->
                <div class="col">
                    {% if profile.name %}
                    <span>
                        <!-- if they0re the profile owner show the edit button -->
                        {% if request.user == user %}
                            <a href="{% url 'profile-edit' profile.pk %}" style="color: #333"><i class="far fa-edit"></i></a>
                        {% endif %}
                    </span>
                    {% endif %}

                    <!-- if they're the profile owner don't show anything -->
                    {% if request.user == user %}
                    <!-- if they're another user then show the follow/unfollow button -->
                    {% else %}
                        {% if is_following %}
                        <form method="POST" action="{% url 'remove-follower' profile.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger"> Unfollow </button>
                        </form> 
                        {% else %}
                        <form method="POST" action="{% url 'add-follower' profile.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-success"> Follow </button>
                        </form> 
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            
            <!-- username -->
            {% if profile.user %}
            <p class="fw-bold"> {{ profile.user }} </p>
            {% endif %}
            <!-- user role -->
            {% if profile.role %}
            <p class="fw-lighter"> {{ profile.role }} </p>
            {% endif %}
            <!-- user bio -->
            {% if profile.bio %}
            <p> {{ profile.bio }} </p>
            {% endif %}
            <!-- other user info -->
            <div class="row justify-content-around">
                <!-- number of followers -->
                <div class="col-sm-3">
                    <p class="text-center">
                        <a href="{% url 'follower-list' profile.pk %}" style="color: #333"> 
                            {{ number_of_followers }} followers 
                        </a>
                    </p>
                </div>
                <!-- user location -->
                <div class="col-sm-3">
                    {% if profile.location %}
                    <p class="text-center"> {{ profile.location }} </p>
                    {% endif %}
                </div>
                <!-- user birthday -->
                <div class="col-sm-3">
                    {% if profile.birth_date %}
                    <p class="text-center"> {{ profile.birth_date }} </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- divider -->
    <div class="row justify-content-center">
        <hr style="1px rounded #333; width: 80%">
    </div>

    {% if request.user == user %}
    <!-- grocery list button -->
    <div class="row justify-content-center mt-3" style="padding-bottom: 30px;">
        <div class="col-md-8 col-sm-12">
            <div class="d-grid gap-2">
            {% if grocery_list.list_owner == request.user %}
            <!-- see the grocery list -->
            <button class="btn" style="background-color: #fda742;"> 
                <a href="{% url 'grocery-list' %}" style="color: #fcfcfc"> Grocery List </a>
            </button>
            {% else %}
            <!-- create a grocery list -->
            <button class="btn" style="background-color: #fda742;"> 
                <a href="#"  style="color: #fcfcfc"> Create a grocery list </a>
            </button>
            {% endif %}
            </div>
        </div>
    </div>

    <!-- divider -->
    <div class="row justify-content-center">
        <hr style="1px rounded #333; width: 80%">
    </div>
    {% endif %}

    <!-- user posts -->
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 border-bottom">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for post in posts %}
                <div class="col">
                    <div class="card" style="border-color: #fda742; border-radius: 10px">
                        <!-- card header -->
                        <div class="card-header" style="border-color: #fda742;">
                            <!-- author icon -->
                            <img class="rounded-circle" style="float: left; margin-right: 1rem" height="30" width="30" src="{{ post.author.profile.picture.url }}"/>
                            <!-- post author --> 
                            <p> @{{ post.author }} </p>
                        </div>
                        <!-- card body -->
                        <div class="card-body">
                            <div class="position-relative">
                                <!-- post images -->
                                {% if post.image %}
                                    <img src="{{ post.image.url }}" class="img-fluid rounded-start" max-width="100%" height="100vh" alt="post images">
                                {% endif %}
                                <!-- post text -->
                                <p> {{ post.body }} </p>
                                <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                            </div>
                        </div>
                        <!-- card footer -->
                        <div class="card-footer text-muted" style="border-color: #fda742;">
                            <div class="row">
                                <div class="col">
                                    <p class="fst-italic" style="font-size: 12px"> {{ post.created_on }} </p>
                                </div>
                                <div class="col">
                                    <div class="d-flex flex-row">
                                        <form method="POST" action="{% url 'like' post.pk %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}"></input>
                                            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit"> 
                                                <i class="fa-regular fa-heart"> <span style="font-size: 13px"> {{ post.likes.all.count }} </span> </i>
                                            </button>
                                        </form>
                                        <form method="POST" action="{% url 'dislike' post.pk %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="next" value="{{ request.path }}"></input>
                                            <button style="background-color: transparent; border: none; box-shadow: none;" type="submit"> 
                                                <i class="far fa-thumbs-down"> <span style="font-size: 13px"> {{ post.dislikes.all.count }} </span> </i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}    
            </div>
        </div>
    </div>

</div>

{% endblock content %}