{% extends 'landing/base.html' %}

{% block content %}

<div class="container">
    <!-- back to feed button -->
    <div class="row mt-5">
        <div class="col-md-3 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light"> Back to feed </a>
        </div>
    </div>

    {% for profile in profile_list %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            <!-- profile icon -->
            <a href="{% url 'profile' profile.pk %}">
                <img class="rounded-circle" style="float: left; margin-right: 1rem" height="30" width="30" src="{{ profile.picture.url }}"/>
            </a>
            <!-- profile username  --> 
            <p><a srtyle="text-decoration: none" class="text-primary" href="{% url 'profile' profile.pk %}"> 
                @ {{ profile.user }} </a> </p>
            <!-- profile location -->
            {% if profile.location %}
            <p> {{ profile.location }} </p>
            {% endif %}
            <!-- profile followers -->
            <p> {{ profile.followers.all.count }} followers </p>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}